/********** #splash **********/
#splash {
  display: block;
  /* don't move */
  position: fixed;
  /* all available screen space */
  height: 100vh;
  /* use dvh length unit for mobile */
  height: 100dvh;
  width: 100%;
  /* default color, opaque to hide the page content */
  background-color: white;
  /** animation initial state **/
  z-index: -1;
  opacity: 0;
}

@keyframes fade-over {
  from {
    z-index: 10;
  }

  to {
    z-index: 10;
    opacity: 1;
  }
}

@keyframes show-over {

  from,
  to {
    z-index: 10;
    opacity: 1;
  }
}

/********** .fade-in **********/
#splash.fade-in {
  --fade-in_duration: 2s;
  --fade-in_delay: 1s;

  animation: fade-over var(--fade-in_duration) ease-out var(--fade-in_delay);
  /*
  * initial state:
      z-index: -1;
      opacity: 0;

  * first frame:
      z-index: 10;

  * final state:
      z-index: 10;
      opacity: 1;
  */

  /* delay then apply first frame, finish in initial state */
  /* animation-fill-mode: none; */

  /* no delay apply first frame, finish in initial state */
  /* animation-fill-mode: backwards; */
  /* delay then apply first frame, finish in final state */
  /* animation-fill-mode: forwards; */
  /* no delay apply first frame, finish in final state */
  /* animation-fill-mode: both; */
}

/********** .fade-out **********/
#splash.fade-out {
  --fade-out_duration: 2s;
  --fade-out_delay: 1s;

  animation: fade-over var(--fade-out_duration) ease-out var(--fade-out_delay) reverse;
  /*
  * initial state:
      z-index: -1;
      opacity: 0;

  * first frame:
      z-index: 10;
      opacity: 1;

  * final state:
      z-index: 10;
  */

  /* delay then apply first frame, finish in initial state */
  /* animation-fill-mode: none; */

  /* no delay apply first frame, finish in initial state */
  /* animation-fill-mode: backwards; */
  /* delay then apply first frame, finish in final state */
  /* animation-fill-mode: forwards; */
  /* no delay apply first frame, finish in final state */
  /* animation-fill-mode: both; */
}

/********** .fade-in-out **********/
#splash.fade-in-out {
  --fade-in_duration: 2s;
  --fade-in_delay: 1s;
  --fade-out_duration: 2s;

  --fade-in_finish: calc(var(--fade-in_delay) + var(--fade-in_duration));
  --fade-out_delay: var(--fade-in_finish);

  animation:
    fade-over var(--fade-in_duration) ease-out var(--fade-in_delay),
    fade-over var(--fade-out_duration) ease-out var(--fade-out_delay) reverse;
  /*
  * initial state:
      z-index: -1;
      opacity: 0;

  * fade-in -- first frame:
      z-index: 10;

  * fade-in -- final state:
      z-index: 10;
      opacity: 1;

  * fade-out -- first frame:
      z-index: 10;
      opacity: 1;

  * fade-out -- final state:
      z-index: 10;
  */

  /* delay then apply first frame, finish in initial state */
  /* animation-fill-mode: none, none; */

  /* no delay apply first frame, finish in initial state */
  /* animation-fill-mode: backwards, backwards; */
  /* delay then apply first frame, finish in final state */
  /* animation-fill-mode: forwards, forwards; */
  /* no delay apply first frame, finish in final state */
  /* animation-fill-mode: both, both; */
}

/********** .fade-in-show **********/
#splash.fade-in-show {
  --fade-in_duration: 2s;
  --fade-in_delay: 1s;
  --show_duration: 3s;

  --fade-in_finish: calc(var(--fade-in_delay) + var(--fade-in_duration));
  --show_delay: var(--fade-in_finish);

  animation:
    fade-over var(--fade-in_duration) ease-out var(--fade-in_delay),
    show-over var(--show_duration) ease-out var(--show_delay);
  /*
  * initial state:
      z-index: -1;
      opacity: 0;

  * fade-in -- first frame:
      z-index: 10;

  * fade-in -- final state:
      z-index: 10;
      opacity: 1;

  * show -- first frame:
      z-index: 10;
      opacity: 1;

  * show -- final state:
      z-index: 10;
      opacity: 1;
  */

  /* delay then apply first frame, finish in initial state */
  /* animation-fill-mode: none, none; */

  /* no delay apply first frame, finish in initial state */
  /* animation-fill-mode: backwards, backwards; */
  /* delay then apply first frame, finish in final state */
  /* animation-fill-mode: forwards, forwards; */
  /* no delay apply first frame, finish in final state */
  /* animation-fill-mode: both, both; */
}

/********** .fade-out-show **********/
#splash.fade-out-show {
  --show_duration: 3s;
  --show_delay: 1s;
  --fade-out_duration: 2s;

  --show_finish: calc(var(--show_delay) + var(--show_duration));
  --fade-out_delay: var(--show_finish);

  animation:
    show-over var(--show_duration) ease-out var(--show_delay),
    fade-over var(--fade-out_duration) ease-out var(--fade-out_delay) reverse;
  /*
  * initial state:
      z-index: -1;
      opacity: 0;

  * show -- first frame:
      z-index: 10;
      opacity: 1;

  * show -- final state:
      z-index: 10;
      opacity: 1;

  * fade-out -- first frame:
      z-index: 10;
      opacity: 1;

  * fade-out -- final state:
      z-index: 10;
  */

  /* delay then apply first frame, finish in initial state */
  /* animation-fill-mode: none, none; */

  /* no delay apply first frame, finish in initial state */
  /* animation-fill-mode: backwards, backwards; */
  /* delay then apply first frame, finish in final state */
  /* animation-fill-mode: forwards, forwards; */
  /* no delay apply first frame, finish in final state */
  /* animation-fill-mode: both, both; */
}

/********** .fade-in-out-show **********/
#splash.fade-in-out-show {
  --fade-in_duration: 2s;
  --fade-in_delay: 1s;
  --show_duration: 3s;
  --fade-out_duration: 2s;

  --fade-in_finish: calc(var(--fade-in_delay) + var(--fade-in_duration));
  --show_delay: var(--fade-in_finish);
  --show_finish: calc(var(--show_delay) + var(--show_duration));
  --fade-out_delay: var(--show_finish);

  animation:
    fade-over var(--fade-in_duration) ease-out var(--fade-in_delay),
    show-over var(--show_duration) ease-out var(--show_delay),
    fade-over var(--fade-out_duration) ease-out var(--fade-out_delay) reverse;
  /*
  * initial state:
      z-index: -1;
      opacity: 0;

  * fade-in -- first frame:
      z-index: 10;

  * fade-in -- final state:
      z-index: 10;
      opacity: 1;

  * show -- first frame:
      z-index: 10;
      opacity: 1;

  * show -- final state:
      z-index: 10;
      opacity: 1;

  * fade-out -- first frame:
      z-index: 10;
      opacity: 1;

  * fade-out -- final state:
      z-index: 10;
  */

  /* delay then apply first frame, finish in initial state */
  /* animation-fill-mode: none, none, none; */

  /* no delay apply first frame, finish in initial state */
  /* animation-fill-mode: backwards, backwards, backwards; */
  /* delay then apply first frame, finish in final state */
  /* animation-fill-mode: forwards, forwards, forwards; */
  /* no delay apply first frame, finish in final state */
  /* animation-fill-mode: both, both, both; */
}

/********** .show-fade **********/
#splash.show-fade {
  --show_duration: 3s;
  --show_delay: 1s;
  --fade_duration: 2s;

  --total_duration: calc(var(--show_duration) + var(--fade_duration));
  --show_percentage: calc(var(--show_duration) / var(--total_duration));

  animation: show-fade-over var(--total_duration) linear var(--show_delay);
}
@keyframes show-fade-over {

  /* show-over, duration to percentage: 3 / (3 + 2) = 0.6 */
  from,
  60% {
    z-index: 10;
    opacity: 1;
  }

  /* fade-over */
  to {
    z-index: 10;
  }
}
